@{
    ViewBag.Title = "Store";
}

<div class="hero-unit" style="margin-top:30px;">
    <h1><img src="/favicon.ico" /> A2208Hub.Store</h1>
    @if (Request.IsAuthenticated)
    {
    <a style="margin-left:140px;" class="btn btn-primary btn-large" href="/File">
        <i class="icon-folder-open icon-white"></i> 文件浏览器</a>
    }
</div>
@section js
{
    @if (Request.QueryString["error"] != null)
    {
        <script>app.alert(decodeURI('@Request.QueryString["error"]'));</script>
    }
}