@{
    ViewBag.Title = "关于";
    ViewBag.Menu = 2;
}

<dl>
    <dt>
        默认账户
    </dt>
    <dd>
        用户名：<code>public</code>
    </dd>
    <dd>
        密码：<code>public</code>
    </dd>
    <dt>
        源码
    </dt>
    <dd>
        SVN：<code>https://192.168.1.202:8443/svn/net_zkx_oa/trunk/A22hub</code>
    </dd>
</dl>

<div class="page-header">
  <h1>未完成的工作</h1>
</div>
<blockquote>
  <p>文件管理</p>
  <small>在线浏览Excel</small>
</blockquote>